<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="BizDirect A Classic Business Directory Service">
    <meta name="author" content="gofaniyi">
    <title>BizDirect A Classic Business Directory Service | Home</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="https://res.cloudinary.com/dk8am3md8/image/upload/v1578237614/project/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="https://res.cloudinary.com/dk8am3md8/image/upload/v1578237611/project/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="https://res.cloudinary.com/dk8am3md8/image/upload/v1578237588/project/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="https://res.cloudinary.com/dk8am3md8/image/upload/v1578237587/project/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578235879/project/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578235895/project/css/style.css" rel="stylesheet">
	<link href="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578235881/project/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578235890/project/css/custom.css" rel="stylesheet">

	<style>
		.strip ul li:last-child {
			margin-right: 10px;
			float: left;
		}

		.strip figure {
			margin-bottom: 0;
			overflow: hidden;
			position: relative;
			height: 50px;
			-webkit-border-radius: 3px 3px 0 0;
			-moz-border-radius: 3px 3px 0 0;
			-ms-border-radius: 3px 3px 0 0;
			border-radius: 3px 3px 0 0;
		}
	</style>

</head>

<body>
	
	<div id="page">
		
	<header class="header_in">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-12">
					<div id="logo">
                        BizDirectory
					</div>
				</div>
				<div class="col-lg-9 col-12">
					<ul id="top_menu">
						<li><a href="{% url 'home' %}" class="btn_add">Home</a></li>
                        <li><a href="{% url 'listings' %}" class="btn_add">Admin</a></li>
						<li><a href="{% url 'login' %}" id="sign-in" class="login" title="Sign In">Sign In</a></li>
					</ul>
					<!-- /top_menu -->
					<a href="#menu" class="btn_mobile">
						<div class="hamburger hamburger--spin" id="hamburger">
							<div class="hamburger-box">
								<div class="hamburger-inner"></div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</header>
	<!-- /header -->
	
	<main>
		<div id="results">
		   <div class="container">
			   <div class="row">
				   <div class="col-lg-9 col-md-8 col-2">
				   		<form action="{% url 'home' %}" method="get">
							<div class="row no-gutters custom-search-input-2 inner">
								<div class="col-lg-9">
									<div class="form-group">
										<input class="form-control" type="text" name="q" placeholder="What are you looking for...">
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<button type="submit" class="btn_1 gray" style="width:100%;background-color: #ffc107; color: #222222;"> Search</button>
									</div>
								</div>
							</div>
						</form>
						
				   </div>
			   </div>
			   <!-- /row -->
		   </div>
		   <!-- /container -->
	   </div>
		
	   	<!-- /results -->		

		<div class="container margin_60_35">
			
			<div class="row">
				{% for listing in listings %}
					<div class="col-xl-4 col-lg-6 col-md-6">
						<div class="strip grid">
							<figure>
								<small>
								{% for phone in listing.phones %}
									{{ phone }}{% if forloop.counter != listing.phones|length %},{% endif %}
								{% endfor %}
								</small>
							</figure>
							<div class="wrapper">
								<h3><a href="{% url 'view-listing' id=listing.id %}">{{ listing.name }}</a></h3>
								<small>{{ listing.address }}</small>
								<p>{{ listing.description|truncatechars:100 }}</p>
								<a class="address" href="{{ listing.website }}" target="_blank">{{ listing.website }}</a>
							</div>
							<ul>
								{% for cat in listing.categories_list %}
									<li><span class="loc_open">{{ cat.title }}</span></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% empty %}
				<h4>No Results Found</h4>
				{% endfor %}
			</div>
			<!-- /row -->
			
		</div>
		<!-- /container -->
		
	</main>
	<!--/main-->
	
	</div>
	<!-- page -->
	
	<!-- COMMON SCRIPTS -->
    <script src="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578237562/project/js/common_scripts.js"></script>
	<script src="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578237558/project/js/functions.js"></script>
	<script src="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578237544/project/assets/validate.js"></script>

	<!-- Map -->
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script src="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578237559/project/js/infobox.js"></script>
	<script src="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578237561/project/js/map.js"></script>
	<script src="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578237559/project/js/infobox.js"></script>
  
</body>
</html>