<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="BizDirect">
    <meta name="author" content="gofaniyi">
    <title>BizDirect | Directory Listing</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="https://res.cloudinary.com/dk8am3md8/image/upload/v1578237614/project/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="https://res.cloudinary.com/dk8am3md8/image/upload/v1578237611/project/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="https://res.cloudinary.com/dk8am3md8/image/upload/v1578237588/project/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="https://res.cloudinary.com/dk8am3md8/image/upload/v1578237587/project/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578235879/project/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578235895/project/css/style.css" rel="stylesheet">
	<link href="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578235881/project/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578235890/project/css/custom.css" rel="stylesheet">

    <style >
        #login_bg {
            background: #444444 url(https://res.cloudinary.com/dk8am3md8/image/upload/v1578237612/project/img/access_bg.jpg) center center no-repeat fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            min-height: 100vh;
            width: 100%;
        }
    </style>

</head>

<body id="login_bg">
	
	<nav id="menu" class="fake_menu"></nav>
	
	<div id="login">
		<aside>
            <form method="post">
            {% if form.errors and not form.non_field_errors %}
            <p class="errornote">
            {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
            </p>
            {% endif %}

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
            {% endfor %}
            {% endif %}
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" class="form-control" name="username" id="id_username" autofocus required>
                <i class="icon_mail_alt"></i>
            </div>
            <div class="form-group">
                <label for="id_password">Password</label>
                <input type="password" class="form-control" name="password" id="password" value="" required>
                <i class="icon_lock_alt"></i>
            </div>
            <button type="submit" class="btn_1 rounded full-width">Login Now</button>
        </form>
		</aside>
	</div>
	<!-- /login -->
		
	<!-- COMMON SCRIPTS -->
    <script src="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578237562/project/js/common_scripts.js"></script>
	<script src="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578237558/project/js/functions.js"></script>
	<script src="https://res.cloudinary.com/dk8am3md8/raw/upload/v1578237544/project/assets/validate.js"></script>
  
</body>
</html>